#initial {
    display: block;
}

#form {
    display: none;
}

.col-1 {
    width: 8.25%;
    padding: 1%;
}
.col-2 {
    width: 16.5%;
    padding: 1%;
}
.col-3 {
    width: 25%;
    padding: 1%;
}
.col-4 {
    width: 33.25%;
    padding: 1%;
}
.col-5 {
    width: 41.5%;
    padding: 1%;
}
.col-6 {
    width: 50%;
    padding: 1%;
}
.col-7 {
    width: 58.25%;
    padding: 1%;
}
.col-8 {
    width: 66.5%;
    padding: 1%;
}
.col-9 {
    width: 75%;
    padding: 1%;
}
.col-10 {
    width: 83.25%;
    padding: 1%;
}
.col-11 {
    width: 91.5%;
    padding: 1%;
}
.col-12 {
    width: 100%;
    padding: 1%;
}

@media screen and (max-width: 1200px) {
    .col-xl-1 {
        width: 8.25%;
        padding: 1%;
    }
    .col-xl-2 {
        width: 16.5%;
        padding: 1%;
    }
    .col-xl-3 {
        width: 25%;
        padding: 1%;
    }
    .col-xl-4 {
        width: 33.25%;
        padding: 1%;
    }
    .col-xl-5 {
        width: 41.5%;
        padding: 1%;
    }
    .col-xl-6 {
        width: 50%;
        padding: 1%;
    }
    .col-xl-7 {
        width: 58.25%;
        padding: 1%;
    }
    .col-xl-8 {
        width: 66.5%;
        padding: 1%;
    }
    .col-xl-9 {
        width: 75%;
        padding: 1%;
    }
    .col-xl-10 {
        width: 83.25%;
        padding: 1%;
    }
    .col-xl-11 {
        width: 91.5%;
        padding: 1%;
    }
    .col-xl-12 {
        width: 100%;
        padding: 1%;
    }
}

@media screen and (max-width: 992px) {
    .col-lg-1 {
        width: 8.25%;
        padding: 1%;
    }
    .col-lg-2 {
        width: 16.5%;
        padding: 1%;
    }
    .col-lg-3 {
        width: 25%;
        padding: 1%;
    }
    .col-lg-4 {
        width: 33.25%;
        padding: 1%;
    }
    .col-lg-5 {
        width: 41.5%;
        padding: 1%;
    }
    .col-lg-6 {
        width: 50%;
        padding: 1%;
    }
    .col-lg-7 {
        width: 58.25%;
        padding: 1%;
    }
    .col-lg-8 {
        width: 66.5%;
        padding: 1%;
    }
    .col-lg-9 {
        width: 75%;
        padding: 1%;
    }
    .col-lg-10 {
        width: 83.25%;
        padding: 1%;
    }
    .col-lg-11 {
        width: 91.5%;
        padding: 1%;
    }
    .col-lg-12 {
        width: 100%;
        padding: 1%;
    }

    .sound-btn-lg {
        bottom: 1vw;
        width: 8%;
        padding: 1%;
    }

    .sound-menu-lg {
        bottom: 9vw;
        width: 8%;
        padding: 1%;
    }

    .corner-message-container {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .col-md-1 {
        width: 8.25%;
        padding: 1%;
    }
    .col-md-2 {
        width: 16.5%;
        padding: 1%;
    }
    .col-md-3 {
        width: 25%;
        padding: 1%;
    }
    .col-md-4 {
        width: 33.25%;
        padding: 1%;
    }
    .col-md-5 {
        width: 41.5%;
        padding: 1%;
    }
    .col-md-6 {
        width: 50%;
        padding: 1%;
    }
    .col-md-7 {
        width: 58.25%;
        padding: 1%;
    }
    .col-md-8 {
        width: 66.5%;
        padding: 1%;
    }
    .col-md-9 {
        width: 75%;
        padding: 1%;
    }
    .col-md-10 {
        width: 83.25%;
        padding: 1%;
    }
    .col-md-11 {
        width: 91.5%;
        padding: 1%;
    }
    .col-md-12 {
        width: 100%;
        padding: 1%;
    }

    .sound-btn-md {
        bottom: 1vw;
        width: 12%;
        padding: 1%;
    }

    .sound-menu-md {
        bottom: 13vw;
        width: 12%;
        padding: 1%;
    }

    .corner-message-container {
        width: 40%;
    }
}

@media screen and (max-width: 576px) {
    .col-sm-1 {
        width: 8.25%;
        padding: 1%;
    }
    .col-sm-2 {
        width: 16.5%;
        padding: 1%;
    }
    .col-sm-3 {
        width: 25%;
        padding: 1%;
    }
    .col-sm-4 {
        width: 33.25%;
        padding: 1%;
    }
    .col-sm-5 {
        width: 41.5%;
        padding: 1%;
    }
    .col-sm-6 {
        width: 50%;
        padding: 1%;
    }
    .col-sm-7 {
        width: 58.25%;
        padding: 1%;
    }
    .col-sm-8 {
        width: 66.5%;
        padding: 1%;
    }
    .col-sm-9 {
        width: 75%;
        padding: 1%;
    }
    .col-sm-10 {
        width: 83.25%;
        padding: 1%;
    }
    .col-sm-11 {
        width: 91.5%;
        padding: 1%;
    }
    .col-sm-12 {
        width: 100%;
        padding: 1%;
    }

    .sound-btn-sm {
        bottom: 1vw;
        width: 16.5%;
        padding: 1%;
    }

    .sound-menu-sm {
        bottom: 17.5vw;
        width: 16.5%;
        padding: 1%;
    }

    .corner-message-container {
        width: 65%;
    }
}

.margin-auto {
    margin: auto;
}

.container {
    width: 95%;
    margin: auto;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.align-content-center {
    align-content: center;
}

.text-align-center {
    text-align: center;
}

.entire-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.height {
    height: 100%;
}